In [1]:
import pandas as pd

In [2]:
col=pd.read_csv('nba_players.csv')
col.head()

,Unnamed: 0,Unnamed: 0.1,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,potential_player
0,0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,...,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97,0
1,1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,...,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97,0
2,2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,...,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97,0
3,3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,...,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97,0
4,4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,...,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97,0

In [4]:
col.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 11145 entries, 0 to 11144
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11145 non-null  int64
 1   Unnamed: 0.1       11145 non-null  int64
 2   player_name        11145 non-null  object
 3   team_abbreviation  11145 non-null  object
 4   age                11145 non-null  float64
 5   player_height      11145 non-null  float64
 6   player_weight      11145 non-null  float64
 7   college            11145 non-null  object
 8   country            11145 non-null  object
 9   draft_year         11145 non-null  object
 10  draft_round        11145 non-null  object
 11  draft_number       11145 non-null  object
 12  gp                 11145 non-null  int64
 13  pts                11145 non-null  float64
 14  reb                11145 non-null  float64
 15  ast                11145 non-null  float64
 16  net_rating         11145 non-null  float64
 17  oreb_pct           11145 non-null  float64
 18  dreb_pct           11145 non-null  float64
 19  usg_pct            11145 non-null  float64
 20  ts_pct             11145 non-null  float64
 21  ast_pct            11145 non-null  float64
 22  season             11145 non-null  object
 23  potential_player   11145 non-null  int64
dtypes: float64(12), int64(4), object(8)
memory usage: 2.0+ MB